NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://neondb_owner:npg_iEBvXH1dteu4@ep-fancy-surf-a1fb4avv-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=abc123xyz